<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Stanowisko</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
    <link rel="stylesheet" href="/css/supervisor/form.css">
</head>
<body>

<div th:replace="~{fragments/supervisor-menu :: menu}"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <div class="card-body">

                    <form id="positionForm" th:action="@{/supervisor-panel/management/add-position}" th:object="${position}" method="post">
                        <h2 class="card-title text-center mb-3 mt-3">Dodaj stanowisko</h2>

                        <div class="form-group">
                            <label for="positionName">Nazwa stanowiska:</label>
                            <input type="text" id="positionName" th:field="*{positionName}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Opis:</label>
                            <textarea id="description" th:field="*{description}" class="form-control" rows="3" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="skill">Wymagana umiejętność:</label>
                            <select id="skill" th:field="*{skill}" class="form-control" required>
                                <option value="" disabled selected>Wybierz umiejętność</option>
                                <option th:each="sk : ${skills}" th:value="${sk.id}" th:text="${sk.skillName}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="qualifications-container">
                                <label>Wymagane kwalifikacje:</label>
                                <div class="card card-body">
                                    <div th:each="qualification : ${qualifications}" class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{neededQualifications}"
                                               th:value="${qualification.id}">
                                        <label class="form-check-label" th:text="${qualification.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-block mt-4">Zapisz</button>
                        <div class="text-center mt-2 mb-2">
                            <a href="/supervisor-panel/management" class="custom-back-link">Wróć do panelu stanowisk</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${errorMessage}" style="color: red; text-align: center; margin-top: 10px;">
    <p th:text="${errorMessage}" style="margin: 0; padding: 0;"></p>
</div>

<script src="/js/user/hamburger-menu.js"></script>
<script src="/js/supervisor/form.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
