<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Month Schedule</title>
</head>
<body>
<h1>Month Schedule</h1>

<form th:action="@{/supervisor-panel/month-schedule}" method="GET">
    <label for="month">Switch month</label>
    <input type="number" id="month" name="month" placeholder="1-12" min="1" max="12" required>
    <button type="submit">Submit</button>
</form>

<div th:each="entry : ${dailySchedule}">
    <h3 th:text="${entry.key}"></h3>
    <ul>
        <li th:each="employee : ${entry.value}" th:text="${employee}"></li>
    </ul>
</div>

<br><br><br>
<a href="/supervisor-panel">Back</a>

</body>
</html>
