<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel zarządzania</title>
    <link rel="stylesheet" href="/css/supervisor/management.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
</head>
<body>

<div th:replace="~{fragments/supervisor-menu :: menu}"></div>


<div class="header-row">
    <h1>Panel zarządzania</h1>
</div>


<div class="header-container">
    <div class="left-header">
        <button class="tab-button active" data-tab="shifts" th:classappend="${!searchPerformed} ? 'active' : ''">Grafik</button>
        <button class="tab-button" data-tab="employees" th:classappend="${searchPerformed} ? 'active' : ''">Pracownicy</button>
        <button class="tab-button" data-tab="positions">Stanowiska</button>
        <button class="tab-button" data-tab="users">Liderzy</button>
        <button class="tab-button" data-tab="qualifications">Kwalifikacje</button>
        <button class="tab-button" data-tab="skills">Umiejętności</button>
    </div>
    <div class="right-header">
        <a href="/supervisor-panel/management/import-schedule" class="import-button" id="import-icon">
            <img src="/images/import.png" alt="import" class="import-image" title="Importuj grafik na następny miesiąc">
        </a>
        <div class="date-picker-container">
            <form action="/supervisor-panel/management" method="get">
                <input type="date" id="selectedDate" name="date" required>
                <button type="submit">Wyświetl grafik</button>
            </form>
        </div>
        <form action="/supervisor-panel/management/search" method="get" class="search-form">
            <input type="text" name="searchData" placeholder="Szukaj pracownika..." class="search-input" th:value="${searchData}">
            <button type="submit" class="search-button">Szukaj</button>
        </form>
        <form id="add-form" action="/supervisor-panel/management/add" method="get">
            <button type="submit" class="add-object-button" id="add-button">Dodaj nowy element</button>
        </form>
    </div>
</div>


<div class="tabs-content">
    <div class="tab-content" id="employees" th:classappend="${searchPerformed} ? 'active' : ''">
        <div class="table-container">
            <table class="common-table employees-table">
                <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Numer przepustki</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">

                    <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.idCardNumber != null ? employee.idCardNumber : 'brak'}"></td>

                    <td>
                        <form th:action="@{/supervisor/management/edit-employee/{id}(id=${employee.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-employee/{id}(id=${employee.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="tab-content" id="positions">
        <div class="table-container">
            <table class="common-table positions-table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position : ${positions}">
                    <td th:text="${position.positionName}"></td>
                    <td th:text="${position.description}"></td>
                    <td>
                        <form th:action="@{/supervisor/management/edit-position/{id}(id=${position.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-position/{id}(id=${position.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="qualifications">
        <div class="table-container">
            <table class="common-table qualifications-table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qualification : ${qualifications}">
                    <td th:text="${qualification.name}"></td>
                    <td th:text="${qualification.description}"></td>
                    <td>
                        <form th:action="@{/supervisor/management/edit-qualification/{id}(id=${qualification.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-qualification/{id}(id=${qualification.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="users">
        <div class="table-container">
            <table class="common-table users-table">
                <thead>
                <tr>
                    <th>Imie i nazwisko</th>
                    <th>Nazwa użytkownika</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td>
                        <form th:action="@{/supervisor/management/edit-user/{id}(id=${user.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-user/{id}(id=${user.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="tab-content active" id="shifts" th:classappend="${!searchPerformed} ? 'active' : ''">
        <div class="table-container">
            <table class="common-table shifts-table">
                <thead>
                <tr>
                    <th>Pracownik</th>
                    <th>Dzień rozpoczęcia</th>
                    <th>Godzina rozpoczęcia</th>
                    <th>Godzina zakończenia</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shift : ${shifts}">
                    <td th:text="${shift.employee.firstName} + ' ' + ${shift.employee.lastName}"></td>
                    <td th:text="${shift.workDate}"></td>
                    <td th:text="${shift.startTime}"></td>
                    <td th:text="${shift.endTime}"></td>
                    <td>
                        <form th:action="@{/supervisor/management/edit-shift/{id}(id=${shift.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-shift/{id}(id=${shift.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="skills">
        <div class="table-container">
            <table class="common-table skills-table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="skill : ${skills}">
                    <td th:text="${skill.skillName}"></td>
                    <td th:text="${skill.description}"></td>
                    <td>
                        <form th:action="@{/supervisor/management/edit-skill/{id}(id=${skill.id})}" method="post" style="display:inline;">
                            <button type="submit" class="edit-button">Edytuj</button>
                        </form>
                        <form th:action="@{/supervisor/management/delete-skill/{id}(id=${skill.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script defer src="/js/supervisor/management.js"></script>
<script src="/js/user/hamburger-menu.js"></script>

</body>
</html>
