<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel zarządzania</title>
    <link rel="stylesheet" href="/css/supervisor/management.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
</head>
<body>

<div th:replace="~{fragments/supervisor-menu :: menu}"></div>


<div class="header-row">
    <h1>Panel zarządzania</h1>
</div>


<div class="header-container">
    <div class="left-header">
        <button class="tab-button active" data-tab="shifts" th:classappend="${!searchPerformed} ? 'active' : ''">Grafik</button>
        <button class="tab-button" data-tab="employees" th:classappend="${searchPerformed} ? 'active' : ''">Pracownicy</button>        <button class="tab-button" data-tab="positions">Stanowiska</button>
        <button class="tab-button" data-tab="users">Liderzy</button>
        <button class="tab-button" data-tab="qualifications">Kwalifikacje</button>
        <button class="tab-button" data-tab="skills">Umiejętności</button>
    </div>
    <div class="right-header">
        <div class="date-picker-container">
            <form action="/supervisor-panel/management" method="get">
                <label for="selectedDate">Wybierz dzień:</label>
                <input type="date" id="selectedDate" name="date" required>
                <button type="submit">Wyświetl grafik</button>
            </form>
        </div>
        <form action="/supervisor-panel/management/search" method="get" class="search-form">
            <input type="text" name="searchData" placeholder="Szukaj pracownika..." class="search-input" th:value="${searchData}">
            <button type="submit" class="search-button">Szukaj</button>
        </form>
        <form action="/supervisor-panel/management/add" method="get">
            <button type="submit" class="add-object-button">Dodaj nowy element</button>
        </form>
    </div>
</div>


<div class="tabs-content">
    <div class="tab-content" id="employees" th:classappend="${searchPerformed} ? 'active' : ''">
        <div class="table-container">
            <table class="employees-table">
                <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Numer przepustki</th>
                    <th>Kwalifikacje</th>
                    <th>Umiejętności</th>
                    <th>Zmiany</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">

                    <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.idCardNumber != null ? employee.idCardNumber : 'brak'}"></td>

                    <td>
                        <span id="expand-qualifications" class="expand-text"
                              onclick="openModal('Kwalifikacje', this.getAttribute('data-content'))"
                              th:data-content="${#strings.listJoin(employee.qualifications.![name], ', ')}">
                            pokaż
                        </span>
                    </td>

                    <td>
                        <span id="expand-skills" class="expand-text"
                              onclick="openModal('Umiejętności', this.getAttribute('data-content'))"
                              th:data-content="${#strings.listJoin(employee.skills.![skill.getSkillName() + ' - ' + getSkillProficiencyName()], ', ')}">
                            pokaż
                        </span>
                    </td>

                    <td>
                        <span id="expand-shifts" class="expand-text"
                              onclick="openModal('Zmiany', this.getAttribute('data-content'))"
                              th:data-content="${#strings.listJoin(employee.incomingShifts.![workDate + ' (' + startTime + '-' + endTime + ')'], ', ')}">
                            pokaż
                        </span>
                    </td>


                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${employee.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${employee.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2 id="modal-title"></h2>
            <p id="modal-content"></p>
        </div>
    </div>


    <div class="tab-content" id="positions">
        <div class="table-container">
            <table class="employees-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position : ${positions}">
                    <td th:text="${position.id}"></td>
                    <td th:text="${position.positionName}"></td>
                    <td th:text="${position.description}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${position.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${position.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="qualifications">
        <div class="table-container">
            <table class="employees-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qualification : ${qualifications}">
                    <td th:text="${qualification.id}"></td>
                    <td th:text="${qualification.name}"></td>
                    <td th:text="${qualification.description}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${qualification.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${qualification.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="users">
        <div class="table-container">
            <table class="employees-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${user.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${user.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="tab-content active" id="shifts" th:classappend="${!searchPerformed} ? 'active' : ''">
        <div class="table-container">
            <table class="shifts-table">
                <thead>
                <tr>
                    <th>Pracownik</th>
                    <th>Dzień rozpoczęcia</th>
                    <th>Godzina rozpoczęcia</th>
                    <th>Godzina zakończenia</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shift : ${shifts}">
                    <td th:text="${shift.employee.firstName} + ' ' + ${shift.employee.lastName}"></td>
                    <td th:text="${shift.workDate}"></td>
                    <td th:text="${shift.startTime}"></td>
                    <td th:text="${shift.endTime}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${shift.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${shift.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-content" id="skills">
        <div class="table-container">
            <table class="employees-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa umiejętności</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="skill : ${skills}">
                    <td th:text="${skill.id}"></td>
                    <td th:text="${skill.skillName}"></td>
                    <td th:text="${skill.description}"></td>
                    <td>
                        <button class="edit-button" th:onclick="'editEmployee(' + ${skill.id} + ')'">Edytuj</button>
                        <form th:action="@{/admin/employees/delete/{id}(id=${skill.id})}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script defer src="/js/supervisor/management.js"></script>
<script src="/js/user/hamburger-menu.js"></script>
<script src="/js/supervisor/info-modal.js"></script>
</body>
</html>
