<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervisor Panel</title>
</head>
<body>
<h1>Supervisor Panel</h1>
<a href="/supervisor-panel/employees">Employee list</a>
<br>
<a href="/supervisor-panel/users">Leaders list</a>
<br>
<a href="/supervisor-panel/schedule/day-schedule">Day Schedule</a>
<br>
<a href="/supervisor-panel/schedule/month-schedule">Month Schedule</a>
<br>
<a href="/supervisor-panel/positions">Position</a>
<br>
<a href="/supervisor-panel/skills">Skill</a>
<br>
<br>
<a href="/logout">Logout</a>

<br>

</body>
</html>