<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader Panel</title>
    <link rel="stylesheet" href="/css/leader/panel.css">
    <link rel="stylesheet" href="/css/leader/temp-position-form.css">
    <link rel="stylesheet" href="/css/leader/deactivation-pop-up.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
</head>
<body>
<h1>Panel Lidera</h1>


<div th:replace="~{fragments/leader-menu :: menu}"></div>


<div class="header-container">
    <h2 class="positions-title">Stanowiska</h2>
    <div class="legend">
        <img src="/images/level_0.png" alt="Level 0"> Brak doświadczenia
        <img src="/images/level_1.png" alt="Level 1"> Początkujący
        <img src="/images/level_2.png" alt="Level 2"> Średnio zaawansowany
        <img src="/images/level_3.png" alt="Level 3"> Zaawansowany
    </div>

    <h2 class="break-title">Pracownicy na przerwie</h2>
</div>

<div class="tables-container">
<div class="left-container">
<table class="positions-table">
    <thead>
    <tr>
        <th class="position-col1">Interakcja</th>
        <th class="position-col2">Nazwa stanowiska</th>
        <th class="position-col3">Pracownicy</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="position : ${positions}" th:classappend="${!position.isActive} ? 'inactive'">
        <td style="text-align: center;">
            <a th:if="${position.isTemporary}" class="toggle-btn"
               th:data-position-id="${position.id}" id="deactivate-link-${position.id}">
                <span th:text="${position.isActive ? 'Dezaktywuj' : 'Aktywuj'}">Toggle</span>
            </a>
            <a th:if="${!position.isTemporary}" th:href="@{'/leader-panel/position/switch-active/' + ${position.id}}" class="toggle-btn">
                <span th:text="${position.isActive ? 'Dezaktywuj' : 'Aktywuj'}">Toggle</span>
            </a>
        </td>

        <td th:if="${position.isTemporary}"
            class="position-name"
            th:text="${position.positionName}"
            th:title="${position.description}">
            Position Name
        </td>
        <td th:unless="${position.isTemporary}"
            th:text="${position.positionName}">
            Position Name
        </td>

        <td style="text-align: center;">
            <div class="employee-container">
                <div th:if="${position.isActive}">
                    <form th:action="@{/leader-panel/position/add-employee/{positionId}(positionId=${position.id})}" method="post">
                        <div class="dropdown">
                            <button type="button" class="dropdown-button">Wybierz pracowników</button>
                            <div class="dropdown-content">
                                <div th:each="employee : ${breakPosition.employees}">
                                    <div th:if="${employee.hasAllNeededQualification(position)}">
                                        <label>
                                            <input type="checkbox" name="employeesIds" th:value="${employee.id}"/>
                                            <img th:if="${!position.isTemporary} AND ${employee.getSkillProficiencyLevelForPosition(position) != -1}" th:src="@{'/images/level_' + ${employee.getSkillProficiencyLevelForPosition(position)} + '.png'}" alt="Poziom umiejętności" style="vertical-align: -2px;" />
                                            <span th:text="${employee.firstName} + ' ' + ${employee.lastName}">Employee Name</span>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="dropdown-confirm-btn">Potwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="employee" th:each="employee : ${position.employees}">
                    <a th:href="@{'/leader-panel/position/remove-employee/' + ${employee.id}}" class="remove-btn" title="Remove">X</a>
                    <img th:if="${!position.isTemporary} AND ${employee.getSkillProficiencyLevelForPosition(position) != -1}" th:src="@{'/images/level_' + ${employee.getSkillProficiencyLevelForPosition(position)} + '.png'}" alt="Poziom umiejętności" style="vertical-align: -2px;" />
                    <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span>
                    <span id="duration-${employee.id}" th:data-starttime="${activeEmployees[employee.id]}">Duration</span>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
    <div class="mt-4">
        <button id="add-temp-position-btn" class="add-temp-position-btn">Dodaj tymczasowe stanowisko</button>
    </div>
</div>


<table class="break-employees-table">
    <thead>
    <tr>
        <th>Imię i nazwisko</th>
        <th>Długość przerwy</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${breakPosition.employees}">
        <td th:text="${employee.firstName} + ' ' + ${employee.lastName}">First Name</td>
        <td id="duration-${employee.id}" th:data-starttime="${activeEmployees[employee.id]}">Duration</td>
    </tr>
    </tbody>
</table>
</div>



<div id="temp-position-form-overlay" style="display: none;">
    <div id="temp-position-form-popup">
        <span id="close-popup-btn">&times;</span>
        <form th:action="@{/leader-panel/position/add-temporary}" method="post">
            <div>
                <label for="positionName">Nazwa stanowiska:</label>
                <input type="text" id="positionName" name="positionName" required>
            </div>
            <div>
                <label for="description">Opis stanowiska:</label>
                <textarea id="description" name="description" rows="5" required></textarea>
            </div>
            <button type="submit" class="popup-submit-btn">Dodaj stanowisko</button>
        </form>
    </div>
</div>

<div id="deactivation-popup" style="display: none;">
    <div class="popup-content">
        <span id="close-popup-btn">&times;</span>
        <p>Uwaga! Po dezaktywacji stanowiska, nastąpi jego trwałe usunięcie. Czy na pewno chcesz kontynuować?</p>
        <button id="continue-btn">Kontynuuj</button>
    </div>
</div>

<script src="/js/leader/deactivation-pop-up.js"></script>
<script src="/js/leader/temp-position-form.js"></script>
<script src="/js/user/duration-updater.js"></script>
<script src="/js/user/hamburger-menu.js"></script>

</body>
</html>
