<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Leader Panel</h1>

<h2>Positions</h2>
<table>
    <thead>
    <tr>
        <th>Status</th>
        <th>Position Name</th>
        <th>Employees</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positions}" th:classappend="${!position.isActive} ? 'inactive'">
        <td>
            <a th:href="@{'/leader-panel/position/switch-active/' + ${position.id}}" class="toggle-btn">
                <span th:text="${position.isActive ? 'Deactivate' : 'Activate'}">Toggle</span>
            </a>
        </td>
        <td th:text="${position.positionName}">Position Name</td>
        <td>
            <div class="employee-container">
                <div th:if="${position.isActive}">
                    <form th:action="@{/leader-panel/position/add-employee/{positionId}(positionId=${position.id})}" method="post">
                        <div class="dropdown">
                            <button type="button">Wybierz pracowników</button>
                            <div class="dropdown-content">
                                <div th:each="employee : ${breakPosition.employees}">
                                    <label>
                                        <input type="checkbox" name="employeesIds" th:value="${employee.id}"/>
                                        <span th:text="${employee.firstName} + ' ' + ${employee.lastName}">Employee Name</span>
                                    </label>
                                </div>
                                <button type="submit" style="margin-top: 10px; background-color: #28a745; color: #fff;">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="employee" th:each="employee : ${position.employees}">
                    <a th:href="@{'/leader-panel/position/remove-employee/' + ${employee.id}}" class="remove-btn" title="Remove">X</a>
                    <span th:text="${employee.firstName} + ' ' + ${employee.lastName}">Employee Name</span>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<h2>Employees on Break</h2>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${breakPosition.employees}">
        <td th:text="${employee.firstName}">First Name</td>
        <td th:text="${employee.lastName}">Last Name</td>
        <td th:text="${breakPosition.positionName}">Position</td>
    </tr>
    </tbody>
</table>
</body>
</html>
