<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/leader/schedule.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
</head>
<body>

<div th:replace="~{fragments/leader-menu :: menu}"></div>

<div class="header-set">
    <div class="header">
        <h1>
            Grafik
            <span class="schedule-span" th:if="${selectedDate != null}" th:text="'(' + ${selectedDate} + ')'"></span>
        </h1>

    </div>

    <div class="date-picker-container">
        <form action="/leader-panel/schedule" method="get">
            <label for="selectedDate">Wybierz dzień:</label>
            <input type="date" id="selectedDate" name="date" required>
            <button type="submit">Wyświetl grafik</button>
        </form>
    </div>
</div>

<div class="tables-container">
    <table class="schedule-table">
        <thead>
        <tr>
            <th>Pracownik</th>
            <th>Czas rozpoczęcia</th>
            <th>Czas zakończenia</th>
            <th>Dzień rozpoczęcia zmiany</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="shift : ${activeShifts}">
            <td>
                <span th:text="${shift.employee.firstName} + ' ' + ${shift.employee.lastName}"></span>
            </td>
            <td th:text="${shift.startTime}"></td>
            <td th:text="${shift.endTime}"></td>
            <td th:text="${shift.workDate}"></td>
        </tr>

        <tr th:each="shift : ${inactiveShifts}" th:class="'inactive-row'">
            <td>
                <span th:text="${shift.employee.firstName} + ' ' + ${shift.employee.lastName}"></span>
            </td>
            <td th:text="${shift.startTime}"></td>
            <td th:text="${shift.endTime}"></td>
            <td th:text="${shift.workDate}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/user/hamburger-menu.js"></script>
</body>
</html>
