<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/leader/schedule.css">
    <link rel="stylesheet" href="/css/leader/hamburger-menu.css">
</head>
<body>

<div class="hamburger-menu">
    <button class="hamburger-icon" id="hamburger-icon">&#9776;</button>
    <div class="hamburger-dropdown" id="hamburger-dropdown">
        <a href="/leader-panel">Home</a>
        <a href="/leader-panel/schedule">Grafik</a>
        <a href="/leader-panel/employees">Pracownicy</a>
        <a href="/logout">Wyloguj</a>
    </div>
</div>

<div class="header-set">
    <div class="header">
        <h1>Schedule</h1>
    </div>

    <div class="date-picker-container">
        <form action="/leader-panel/schedule" method="get">
            <label for="selectedDate">Wybierz dzień:</label>
            <input type="date" id="selectedDate" name="date" required>
            <button type="submit">Wyświetl grafik</button>
        </form>
    </div>
</div>

<div class="tables-container">
    <table class="schedule-table">
        <thead>
        <tr>
            <th>Pracownik</th>
            <th>Czas rozpoczęcia</th>
            <th>Czas zakończenia</th>
            <th>Dzień rozpoczęcia zmiany</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.employee.firstName + ' ' + shift.employee.lastName}"></td>
            <td th:text="${shift.startTime}"></td>
            <td th:text="${shift.endTime}"></td>
            <td th:text="${shift.workDate}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/leader/hamburger-menu.js"></script>
</body>
</html>
