<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Employees</title>
    <link rel="stylesheet" href="/css/leader/todays-employees.css">
    <link rel="stylesheet" href="/css/leader/hamburger-menu.css">
</head>
<body>

<div class="hamburger-menu">
    <button class="hamburger-icon" id="hamburger-icon">&#9776;</button>
    <div class="hamburger-dropdown" id="hamburger-dropdown">
        <a href="/leader-panel">Home</a>
        <a href="/leader-panel/schedule">Grafik</a>
        <a href="/leader-panel/employees">Pracownicy</a>
        <a href="/logout">Wyloguj</a>
    </div>
</div>

<h1>Today's Employees</h1>
<div class="table-container">
    <table class="employees-table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID Card Number</th>
            <th>Qualifications</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
            <td th:text="${employee.idCardNumber != null ? employee.idCardNumber : 'brak'}">
                ID Card Number
            </td>
            <td>
                <span th:each="qualification : ${employee.qualifications}" th:text="${qualification.name} + ' ' " th:append="' '"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/leader/hamburger-menu.js"></script>

</body>
</html>
