<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Leaders Page</title>
</head>
<body>
<tr th:each="user : ${users}">
    <td th:text="${user.id}">Id</td>
    <td th:text="${user.username}">Username</td>
    <td th:text="${user.firstName}">First name</td>
    <td th:text="${user.lastName}">Last name</td>
    <td th:text="${user.email}">Email</td>
    <br>
    <td>
        <a th:href="@{/supervisor-panel/users/edit/{userId}(userId=${user.id})}">Edit</a>
        <a th:href="@{/supervisor-panel/users/delete/{userId}(userId=${user.id})}">Delete</a>
    </td>
    <br><br>
    <br>
</tr>
<br>
<a href="/supervisor-panel/users/new">Add new leader</a>
<br><br><br>
<a href="/supervisor-panel">Back</a>
</body>
</html>