<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>
</head>
<body>

<h3>Create new employee</h3>
<form th:action="@{/supervisor-panel/employees}" th:object="${employee}" method="post">

    <br>
    <label>First name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">
    <br>
    <label>Last name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <br>
    <label>Email:</label>
    <input type="email" id="email" th:field="*{email}">
    <br>
    <label>Phone number:</label>
    <input type="tel" id="phoneNumber" th:field="*{phoneNumber}">
    <br>
    <button type="submit">Create</button>

</form>

</body>
</html>