<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracownicy</title>
    <link rel="stylesheet" href="/css/supervisor/employees.css">
    <link rel="stylesheet" href="/css/user/hamburger-menu.css">
</head>
<body>

<div th:replace="~{fragments/supervisor-menu :: menu}"></div>

<div class="header-row">
    <h1>Lista pracowników</h1>
    <div class="two-forms-set">
        <form action="/supervisor-panel/employees/search" method="get" class="search-form">
            <input type="text" name="searchData" placeholder="Szukaj pracownika..." class="search-input" th:value="${searchData}">
            <button type="submit" class="search-button">Szukaj</button>
        </form>

        <form action="/supervisor-panel/employees/today" method="get" class="display-employees-form" th:if="${!todays}">
            <button type="submit" class="display-employees-button">Wyświetl dzisiejszych pracowników</button>
        </form>

        <form action="/supervisor-panel/employees/list" method="get" class="display-employees-form" th:if="${todays}">
            <button type="submit" class="display-employees-button">Wyświetl wszystkich pracowników</button>
        </form>
    </div>
</div>


<div class="table-container">
    <table class="employees-table">
        <thead>
        <tr>
            <th>Pracownik</th>
            <th>Numer przepustki</th>
            <th>Numer telefonu</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:onclick="'window.location.href=\'/supervisor-panel/employees/details/' + ${employee.id} + '\''">
                <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span>
                <img th:if="${employee.hasQualificationWithName('prawo jazdy')}"
                     th:src="@{/images/car.png}"
                     alt="Car Qualification"
                     th:title="'Posiada prawo jazdy'"
                     class="qualification-icon" />
            </td>
            <td th:text="${employee.idCardNumber != null ? employee.idCardNumber : 'brak'}">
                Numer przepustki
            </td>
            <td th:text="${employee.phoneNumber}">Numer telefonu</td>
            <td th:text="${employee.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/user/hamburger-menu.js"></script>

</body>
</html>
