.custom-back-link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.custom-back-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
}

#qualificationsCollapse .form-check {
    padding: 1px 0;
}

