.custom-back-link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.custom-back-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
}

#qualificationsCollapse .form-check {
    padding: 1px 0;
}

.card-body {
    padding-bottom: 8px !important;
    padding-top: 4px !important;
}

.form-check-input {
    margin-top: 7px;
}



