<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Leaders Page</title>
</head>
<body>
<tr th:each="leader : ${leaders}">
    <td th:text="${leader.id}">Id</td>
    <td th:text="${leader.username}">Username</td>
    <td th:text="${leader.firstName}">First name</td>
    <td th:text="${leader.lastName}">Last name</td>
    <td th:text="${leader.email}">Email</td>
    <br>
    <td>
        <a th:href="@{/supervisor-panel/leaders/edit/{leaderId}(leaderId=${leader.id})}">Edit</a>
        <a th:href="@{/supervisor-panel/leaders/delete/{leaderId}(leaderId=${leader.id})}">Delete</a>
    </td>
    <br><br>
    <br>
</tr>
<br>
<a href="/supervisor-panel/leaders/new">Add new leader</a>
</body>
</html>