<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employees</title>
</head>
<body>
<tr th:each="employee : ${employees}">
    <td th:text="${employee.id}">Id</td>
    <td th:text="${employee.firstName}">First name</td>
    <td th:text="${employee.lastName}">Last name</td>
    <td th:text="${employee.email}">Email</td>
    <td th:text="${employee.idCardNumber != null ? employee.idCardNumber : 'brak'}">ID Card Number</td>
    <br>
    <ul>
        <li th:each="skill : ${employee.skills}" th:text="${skill.skillName}">Skills:</li>
    </ul>
    <td>
        <a th:href="@{/supervisor-panel/employees/edit/{employeeId}(employeeId=${employee.id})}">Edit</a>
        <a th:href="@{/supervisor-panel/employees/delete/{employeeId}(employeeId=${employee.id})}">Delete</a>
    </td>
    <br><br>
    <br>
</tr>
<br>
<a href="/supervisor-panel/employees/new">Add new employee</a>
</body>
</html>