<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Position Form</title>
</head>
<body>

<h3>Create new position</h3>
<form th:action="@{/supervisor-panel/positions}" th:object="${position}" method="post">

    <br>
    <label>Position name:</label>
    <input type="text" id="positionName" th:field="*{positionName}">
    <br>
    <label>Description:</label>
    <input type="text" id="description" th:field="*{description}">
    <br>
    <label>Is active?:</label>
    <input type="checkbox" id="isActive" th:field="*{isActive}">
    <br>
    <button type="submit">Create</button>

</form>

</body>
</html>