<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Skill</title>
</head>
<body>

<h3>Create new skill</h3>
<form th:action="@{/supervisor-panel/skills}" th:object="${skill}" method="post">

    <br>
    <label>Skill name:</label>
    <input type="text" id="skillName" th:field="*{skillName}">
    <br>
    <label>Description:</label>
    <input type="text" id="description" th:field="*{description}">
    <br>
    <button type="submit">Create</button>

</form>

</body>
</html>