<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Positions Page</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Position Name</th>
        <th>Description</th>
        <th>Is Active?</th>
        <th>Employees</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positions}">
        <td th:text="${position.id}">Id</td>
        <td th:text="${position.positionName}">Position name</td>
        <td th:text="${position.description}">Description</td>
        <td th:text="${position.isActive}">Is active?</td>

        <td>
            <ul>
                <li th:each="employee : ${position.employees}">
                    <span th:text="${employee.firstName} + ' ' + ${employee.lastName}">Employee Name</span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>