<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Position Management</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Position Name</th>
        <th>Description</th>
        <th>Is Active?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positions}">
        <td th:text="${position.id}">Id</td>
        <td th:text="${position.positionName}">Position name</td>
        <td th:text="${position.description}">Description</td>
        <td th:text="${position.isActive}">Is active?</td>
        <td>
            <a th:href="@{/supervisor-panel/positions/edit/{positionId}(positionId=${position.id})}">Edit</a>
            <a th:href="@{/supervisor-panel/positions/delete/{positionId}(positionId=${position.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/supervisor-panel/positions/new">Add new position</a>

</body>
</html>
